doctype html
html
	head
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto|Abril+Fatface|Oswald", rel="stylesheet")
		link(rel="stylesheet", href="/css/style.css")
		script(rel="text/javascript", src="/js/jquery-3.1.1.min.js")
		script(rel="text/javascript", src="/js/typed.js")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

		title subhankar.
	body
		section(id="name")
			div.container-fluid
				div(class="row", style="margin-bottom: 30px; margin-top: 30px;")
					h1.left-padding i like making stuff.
			div(class="container-fluid")
				div(class="row")
					h2.left-padding #[strong UCSD AUVSI Team]  #[span(class="inline-span") | January 2017 - Current]
				div(class="row")
					ul(class="desc left-padding-2") 
						li currently working on the pathfinding algorithm for an autonomous airplane that evades obstacles.
						li competing in the for the #[a(href="http://www.auvsi-suas.org/", class="linkoverride") AUVSI-SUAS] competiton
						li look at the team #[a(href="http://auvsi.ucsd.edu" class="linkoverride") here]
			div.container-fluid.spacer
				div(class="row")
					h2.left-padding #[strong SpotifyCompare]  #[span(class="inline-span") | November 2016 - December 2016]
				div(class="row")
					ul(class="desc left-padding-2") 
						li SpotifyCompare was my first side project. I built it to get experience with web development and working with APIs
						li made with node.js, express.js, Bootstrap, jQuery and Pug.
						li look at the code on #[a(href="https://github.com/subhankar-panda/SpotifyCompare", class="linkoverride") github]
			div(class="container-fluid spacer")
				div(class="row")
					h2.left-padding #[strong MLH Mapper]  #[span(class="inline-span") | December 2016 - January 2017]
				div(class="row")
					ul(class="desc left-padding-2") 
						li i had trouble planning out which hackathons I could go to over spring break. The MLH website doesn't show a map of hackathons.
						li built this to render out a map of hackathons in the US and to gain some experience with web scraping techniques.
						li made with node.js, express.js, Bootstrap, jQuery, Cheerio and Pug
						li look at the code on #[a(href="https://github.com/subhankar-panda/MLH-Mapper", class="linkoverride") github]