doctype html
html
	head
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		link(rel="stylesheet", href="/css/style.css")
		script(rel="text/javascript", src="/js/jquery-3.1.1.min.js")
		script(rel="text/javascript", src="/js/typed.js")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		script.
			$(function(){
				$(".dynamictext").typed({
					strings: ["undergraduate freshman @ uc san diego", "mathematics-computer science major", "cognitive science minor","web development enthusiast", "looking for a summer '17 software engineering internship",
					""],
					typeSpeed: 5,
					backSpeed: -10,
					loop: true,
					cursorChar: "|",
					startDelay: 500,
					contentType: 'html',
					loopCount : false
				});
			});

		title subhankar.
	body
		div.contianer-fluid
			div.row
				div.text-center.padding
					span.fa-5x
					
			div.row.padding2
				p.text-center work in progress ᕙ(⇀‸↼‶)ᕗ

