doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="description", content="subhankar panda's personal website. math-cs major @ ucsd")
		meta(name="title", content="Subhankar Panda's personal website")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="keywords", content="subhankar, panda, ucsd, personal website, ucsd, subhankar panda, Subhankar Panda, Subhankar, Panda, resume")
		meta(name="author", content="Subhankar Panda")
		meta(name="viewport", content="width=device-width, initial-scale=1")		
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto|Abril+Fatface|Oswald", rel="stylesheet")
		link(rel="stylesheet", href="/css/style.css")
		script(rel="text/javascript", src="/js/jquery-3.1.1.min.js")
		script(rel="text/javascript", src="/js/typed.js")
		script.
			//crazy hacky sync loop 
			$(function(){
				var loop = function(i){
					var str = "." + "dynamictext" + i;
					var array = ["undergraduate freshman @ <a href=\"http://ucsd.edu\" target=\"_blank\"> uc san diego</a>", "mathematics-computer science major", "cognitive science minor",
					"web development enthusiast", "looking for a summer '17 software engineering internship"];
					$(str).typed({
						strings: [array[i-1]],
						typeSpeed: 10,
						backSpeed: -5,
						startDelay: 120,
						backDelay: 300,
						contentType: 'html',
						loopCount : 1,
						onStringTyped: function(){
							if(++i < 6){
								loop(i);
							}
						}
					});
				}
				loop(1);
			});

		title subhankar panda
	body
		section(id="header")
			div.container-fluid
				div(class="row", style="margin-bottom: 30px; margin-top: 30px;")
					a(href="/")
						h1.left-padding subhankar panda.
				//- hr(style="width:800px; border-color: black;")
				div.left-padding
					div.row
						div.padding3
							span.dynamictext1.dynamictext
					div.row
						div.padding
							span.dynamictext2.dynamictext
					div.row
						div.padding
							span.dynamictext3.dynamictext
					div.row
						div.padding
							span.dynamictext4.dynamictext
					div.row
						div.padding
							span.dynamictext5.dynamictext

				div.links
					div.row
						h3 links:
						ul
							li 
								a(href="/code" class="link-list") projects 

							li
								a(href="https://github.com/subhankar-panda" target="_blank" class="link-list") github

							li
								a(href="https://linkedin.com/subhankar-panda" target="_blank" class="link-list") linkedin

							li
								a(href="/resume" target="_blank" class="link-list") resume

							li
								a(href="mailto:s1panda@ucsd.edu" class="link-list") email : s1panda [at] ucsd.edu




						


