doctype html
html
	head
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		link(rel="stylesheet", href="/css/style.css")
		script(rel="text/javascript", src="/js/jquery-3.1.1.min.js")
		script(rel="text/javascript", src="/js/typed.js")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		script.
			$(function(){
				$(".dynamictext").typed({
					strings: ["undergraduate freshman @ uc san diego", "mathematics-computer science major", "cognitive science minor","web development enthusiast", "looking for a summer '17 software engineering internship",
					""],
					typeSpeed: 5,
					backSpeed: -10,
					loop: true,
					cursorChar: "|",
					startDelay: 120,
					backDelay: 80,
					contentType: 'html',
					loopCount : false
				});
			});

		title subhankar.
	body
		section(id="topbar")
			div.container-fluid
				div.row
		section(id="header")
			div.container-fluid
				div(class="row", style="margin-bottom: 50px;")
					h1.text-center subhankar panda.
				hr(style="width:800px;")
				div.row
					div.text-center.padding
						span.dynamictext
				div.row.padding3
					div.text-center
						h3 links :
				div.row.padding
					div.col-md-5.col-md-offset-4.text-center
						a(href="https://github.com/subhankar-panda", target="_blank")
							span.fa-5x
								i.fa.fa-github
						a(href="https://linkedin.com/subhankar-panda", target="_blank")
							span.fa-5x
								i.fa.fa-linkedin-square
						a(href="/resume", target="_blank", method="GET")
							span.fa-5x
								i.fa.fa-paperclip
						a(href="/code", method="GET")
							span.fa-5x
								i.fa.fa-code


						


