doctype html
html
	head
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		link(rel="stylesheet", href="/css/style.css")
		script(rel="text/javascript", src="/js/jquery-3.1.1.min.js")
		script(rel="text/javascript", src="/js/typed.js")

		script.
			$(function(){
				$(".dynamictext").typed({
					strings: ["undergraduate freshman @ uc san diego", "web development enthusiast", "looking for summer '17 software engineering internships",
					""],
					typeSpeed: 5,
					backSpeed: -5,
					loop: true
				});
			});

		title subhankar.
	body
		section(id="topbar")
			div.container-fluid
				div.row
		section(id="header")
			div.container-fluid
				div(class="row", style="margin-bottom: 50px;")
					h1.text-center subhankar panda.
				hr(style="width:800px;")
				div.row
					div.text-center.padding
						span.dynamictext


