h1 {
	font-family: Roboto, thin;
	font-size: 60px;
}

#topbar{
	height: 50px;
}

.dynamictext{
	font-size: 30px;
		margin-top: 30px;

}

.padding{
		margin-top: 30px;
}

.padding2{
	margin-top: 150px;
}

.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

a{
	color: black;
}

i{
	margin-right: 50px;
}

p{
	font-family: Roboto, thin;
	font-size: 60px;
}