html, body{
	background-color : #FCFCFC;
	color: #202020;
}

h1 {
	font-family: Roboto, thin;
	font-size: 60px;
}

body{
	height: 100%;
}

#topbar{
	height: 50px;
}

.dynamictext{
	font-size: 20px;
	margin-top: 10px;
	font-family: Roboto, thin;

}

.padding{
		margin-top: 20px;
}

.padding2{
	margin-top: 150px;
}

.typed-cursor{
    opacity: 0;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
/*@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/

a{
	color: black;
}

i{
	margin-right: 50px;
}

p{
	font-family: Roboto, thin;
	font-size: 60px;
}

.padding3{
	margin-top: 20px;
}

h3{
	font-family: Roboto, thin;
	font-size: 30px;
}

a:hover{
	color: #A9A9A9;
	cursor : pointer;
}

.left-padding{
	margin-left: 125px;
}

.links{
	margin-left: 125px;
	position: fixed;
	bottom: 5%;
}

.link-list{
	font-size: 20px;
}