html, body{
	background-color : #FCFCFC;
	color: #202020;
}

h1 {
	font-family: Roboto, thin;
	font-size: 70px;
}

body{
	/*height: 100%;*/
}

#topbar{
	height: 50px;
}

.dynamictext{
	font-size: 20px;
	margin-top: 10px;
	font-family: Roboto, thin;

}

.padding{
		margin-top: 20px;
}

.padding2{
	margin-top: 150px;
}

.typed-cursor{
    opacity: 0;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
/*@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/

a{
	color: black;
	text-decoration: none;
}

i{
	margin-right: 50px;
}

p{
	font-family: Roboto, thin;
	font-size: 60px;
}

.padding3{
	margin-top: 15px;
}

h3{
	font-family: Roboto, thin;
	font-size: 30px;
}

h3:hover{
}

a:hover{
	color: #A9A9A9;
	cursor : pointer;
	text-decoration: none;
}

.left-padding{
	margin-left: 125px;
}

.links{
	margin-left: 125px;
	position: fixed;
	bottom: 3%;
}

.link-list{
	font-size: 20px;
}

h2{
	font-family: Roboto, thin;
	font-size: 30px;
}

.inline-span{
	font-family: Roboto, thin;
	font-size: 25px;
	color: gray;
}

.desc{
	font-family: Roboto, thin;
	font-size: 22px;

}	
.left-padding-2{
	margin-left: 175px;
}

a:visited, a:active{
	text-decoration: none;
}

.spacer{
	margin-top: 30px;
}

.linkoverride{
	text-decoration: underline;
}